# Compiled Object files
*.slo
*.lo
*.o
*.obj
obj/*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app

# Log file
*.log

# Tags
tags
src/tags

# Model file
*.mdl
model/*.mdl

# Temp and Testing cpp files
temp.cpp
*Test.cpp
